body {
	background-color: #efefef;
}
.nawigacja-tlo {
	background: linear-gradient(to bottom,#6B94B4,#316594);
}
.nawigacja {
	min-height: 80px;
}
.breadcrumbs-tlo {
	background: linear-gradient(to bottom,#EDEDED,#D5D5D5);
}
.btn-outline-success {
    color: #fff;
    border-color: #fff;
}